.link-item {
  text-decoration: none;
  color: #fff;
}

.job-item {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  background-color: #202020;
}
* {
  color: white;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
}

.jobDetails-rating-container {
  display: flex;
  margin-top: 25px;
}
a {
  color: blue;
}
.jobDetails-rating {
  margin-left: 10px;
  font-size: 25px;
}
.similar-products-heading {
  margin-top: 40px;
}

.life-image {
  width: 42vh;
  border-radius: 15px;
}

.thumbnail {
  width: 70px;
  margin: 10px;
}

.card-image-container {
  display: flex;
}

.job-details {
  color: #fff;
}

.skills-desc {
  color: #fff;
}
.location {
  display: flex;
  justify-content: space-between;
}

.star {
  width: 30px;
}
.jobCard-rating {
  font-size: 20px;
}

.card-content-align {
  display: flex;
  flex-direction: column;
}

.rating-container {
  display: flex;
}

.job-details-container {
  background-color: black;
  min-height: 100vh;
  padding: 15px;
}
