.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.website-logo {
  width: 100px;
  margin-bottom: 20px;
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #373738;
  padding: 30px;
  border-radius: 15px;
}

.input-label {
  font-family: 'Roboto';
  font-size: 14px;
  color: #fff;
  margin: 6px;
}

.input {
  font-size: 20px;
  border: 1px solid #99bae2;
  background-color: transparent;
  color: white;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #6366f1;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
